@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
  --color-brand-orange: #FA6414;
  --color-brand-orange-dark: #C84018;
  --color-brand-purple: #37286B;
  --color-brand-navy: #1A003B;
  --color-brand-lavande: #F1F0F7;
}

body {
  font-family: var(--font-sans);
}
